<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ThriftKid wants to empower parents and teachers to help teach children about money and finances.  Via educational product recommendations and eventual custom content, we are here to help you!">
    <meta name="author" content="">
    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <link href="/static/css/thriftkid.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="/static/img/90x30LogoBlack.png" class="img-responsive">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#products">Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <!--  <div class="row">
                <div class="col-lg-12">
                 <h1>Scrolling Nav</h1>
                   <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> 
                      {% if name %}
                    <h1>HELLO! {{ name }}</h1>
                    {% else %}
                    <h1>Hello, no name.</h1>
                    {% endif %}
                </div>
            </div>-->
            <div class="row">
                <div class="jumbotron">
                    <h1 class="blktxt">Hello, Fiscal Folks!</h1>
                    <p class="blktxt">ThriftKid is here to help you help your children learn about finance.  Money isn't the end all be all, but it's important.  Parents and schools can do more to teach our children important lessons about finances and money, and we want to help.  In our early Beta, we are primarily recommending products that can help - as we grow and develop the site, we'll bring other resources to help you!</p>
                    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <h1>About ThriftKid</h1>
                    <p>I have three young children, and they are interested in how money works.  They want to buy things, they want to handle their own transactions, and they want to understand finances.  It's natural to want things, but we want the children to learn some basics:</p>
                    <ul>
                        <li>You can't have everything you want, because things cost money.</li>
                        <li>It isn't easy to earn enough money for all the things you might want.</li>
                        <li>There are ways they can get those things they want, but it involves work, saving and planning.</li>
                    </ul>
                    <p>Maybe you, as a grown up, know what it's like to have made financial mistakes.  Maybe you ran up credit, or haven't saved enough for your retirement.  Maybe you live paycheck to paycheck.  And maybe you want better for your kids!  I know I do!  So I'm putting this site together as a resource to help me, you and educators think about creative ways to teach our kids.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="products" class="services-section">
        <div class="container">
            <div class="row">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
<a href="http://www.amazon.com/gp/product/B0006N8X3M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0006N8X3M&linkCode=as2&tag=smithelliscom-20&linkId=IIH2TWVBZMKRRRFS"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0006N8X3M&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=smithelliscom-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=smithelliscom-20&l=as2&o=1&a=B0006N8X3M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


      <div class="carousel-caption">
        <p style="padding-left: 15px;">A cash register!  Let your little one learn about transactions, counting money and making change. Promotes industry, math skills and makes every kid feel like a real shop owner.</p>
      </div>
    </div>
    <div class="item">
      <a href="http://www.amazon.com/gp/product/B00CLH11A8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CLH11A8&linkCode=as2&tag=smithelliscom-20&linkId=3DRSGFECUUP7EO4J"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00CLH11A8&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=smithelliscom-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=smithelliscom-20&l=as2&o=1&a=B00CLH11A8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      <div class="carousel-caption">
       <p style="padding-left: 15px;">A real and classic Piggy Bank!  Teach your kids to save up for a rainy day, or for a toy they really *need*.  A great place tp pack away allowances.</p>
      </div>
    </div>
        <div class="item">
     <a href="http://www.amazon.com/gp/product/0974253189/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0974253189&linkCode=as2&tag=smithelliscom-20&linkId=KVDLDKMIDGOYE3MT"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0974253189&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=smithelliscom-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=smithelliscom-20&l=as2&o=1&a=0974253189" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      <div class="carousel-caption">
       <p style="padding-left: 15px;">Geared for teens (ages 14-18), the money personality cards are used like money management games. Money Habitudes for Teens is often used in high school classes (economics and personal finance, psychology, business, history, etc.), after-school and youth programs like 4H, as well as job readiness seminars and life skills seminars</p>
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>E-Mail: TheKid@thriftkid.com</p>
                </div>
                <div class="col-lg-4">
                    <p>Mailing List Coming Soon!</p>
                </div>
                <div class="col-lg-4">
                    <p>We're Just Starting Out, Bear With Us!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <small style="border-top: thin dotted white;">Copyright 2015 ThriftKid</small>
                </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>
<script type="text/javascript" src="http://wms-na.amazon-adsystem.com/20070822/US/js/link-enhancer-common.js?tag=smithelliscom-20&linkId=ZJIAJZRMEN3PCRJ6">
</script>
<noscript>
    <img src="http://wms-na.amazon-adsystem.com/20070822/US/img/noscript.gif?tag=smithelliscom-20&linkId=ZJIAJZRMEN3PCRJ6" alt="" />
</noscript>


</body>

</html>
